* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  border: none;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 62.5%;
  box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f8fafc;
}

button {
  cursor: pointer;
}

#app {
  display: flex;
  height: 100vh;
  position: relative;
}

.app__left {
  display: flex;
  flex: 70%;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.75s;
}
.app__left__photo-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: all 0.75s;
}
.app__left__logo-box {
  display: flex;
  height: 85px;
  margin-left: 3.5rem;
}
.app__left__logo-box__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.app__left__survey {
  display: flex;
  height: 100%;
}
.app__left__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 0%;
  transition: all 2s;
}

.app__right {
  display: flex;
  flex-direction: column;
  flex: 30%;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  transition: all 0.75s;
  overflow: hidden;
}
.app__right__top {
  flex: 1;
  height: 100%;
  justify-content: space-around;
}
.app__right__top__title {
  text-align: center;
}
.app__right__top__subtitle {
  text-align: center;
}
.app__right__top__QR__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 75%;
  padding: 0 5rem;
}
.app__right__top__QR__container__QR {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
.app__right__bottom {
  flex: 0;
  height: 0%;
  transition: all 2s;
}

.kiosk__button {
  background: radial-gradient(circle, #FD4A1E 0%, #FD4945 100%);
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 4rem;
  margin-top: 2rem;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  transition: all 0.25s;
}
.kiosk__button:active {
  transform: translateY(1rem);
}

.exit-button-wrapper {
  position: fixed;
  top: 2rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
}
.exit-button-wrapper__exit-button {
  position: relative;
  height: 0.5rem;
  width: 100%;
  background-color: red;
  visibility: hidden;
}
.exit-button-wrapper__exit-button::before, .exit-button-wrapper__exit-button::after {
  visibility: visible;
  content: "";
  position: absolute;
  left: 0;
  height: 0.5rem;
  width: 3rem;
  background-color: red;
  transition: all 0.5s;
}
.exit-button-wrapper__exit-button::before {
  transform: rotate(45deg);
  transform-origin: center;
}
.exit-button-wrapper__exit-button::after {
  transform: rotate(-45deg);
  transform-origin: center;
}

.app__left__photo-wrapper.expandedLeftForm {
  visibility: hidden;
}
.app__left.hideForm {
  flex: 0;
  opacity: 0;
}
.app__left .app__left__form.SlideUpLeftForm {
  height: 100%;
}

.app__right.expandedForm {
  flex-direction: row;
  align-items: center;
}
.app__right.expandedLeftForm {
  flex: 0;
}
.app__right .app__right__bottom.SlideUpRightForm {
  flex: 1;
  height: 100%;
}
.app__right .app__right__bottom.SlideUpRightForm .feedback__form__input__textArea {
  height: 69%;
}
